.fixedbar{
position: fixed;
width: 100%;
z-index: 10

}

.header{
    background: #7BCABB;
    color: white;
}

a{
    margin: 6px
}
.active {
    background: rgb(86, 169, 153);
}

 /deep/ .mat-menu-content{
    background: #7BCABB
}