<div fxLayout 
     fxLayout.xs="coulmn" class="footer">
  <div fxFlex="35%">
    <ul>
      <li><a mat-button href="#">HOME</a></li>
      <li><a mat-button href="#">About</a></li>
      <li><a mat-button href="#"> Contact</a></li>
      <li><a mat-button href="#">Sign In</a></li>
    </ul>
  </div>
  <div fxFlex="65%">
    <div class="social">
        <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
    </div>

    <div class="text">
      <h4> All right reserved by Globuzzer &copy; 2017</h4>
    </div>
  </div>
</div>
