<div class="content">
  <!-- Code Of Jumbotron -->
  <div fxLayout="row" fxLayoutAlign="start center" class="cover">
    <div class="line" fxShow="false" fxShow.gt-md></div>      
    <div fxFlex class="jumbotron">
      <div class="shadow">
        <div fxFlex>
          <div class="jTitle">About us</div>
          <div class="jContent" fxShow="false" fxShow.gt-sm>
            House scanner is a service provided for the international students and new arrivals who intend to move to Stockholm but has no local friend who would make sure if chosen room or apartment is real.<br>
            Since it is complicated to come back and forword to the city we are local friends who take all the struggle away.
          </div>
          <div class="jContentM" fxHide="false" fxHide.gt-sm>
              House scanner is a service provided for the international students and new arrivals who intend to move to Stockholm but has no local friend who would make sure if chosen room or apartment is real.<br>
              Since it is complicated to come back and forword to the city we are local friends who take all the struggle away
          </div>
          <button class="buttonD" mat-button fxShow="false" fxShow.gt-sm>Get in touch</button>
          <button class="buttonM" mat-button fxHide="false" fxHide.gt-sm>Get in touch</button>          
        </div>
      </div>
    </div>
  </div>
  <!-- End Of Code -->

  <!-- Code Of Steps -->
  <div fxLayout="row" fxLayoutAlign="start " class="steps">
    <div fxFlex="30%" fxFlexOffset="7%" mat-button fxShow="false" fxShow.gt-sm>
      <div class="centerX">
        <div class="middleX"><i class="fa fa-home fa-5x"></i></div>
        <div class="middleX"><i class="fa fa-ellipsis-v fa-5x"></i></div>
        <div class="middleX"><i class="fa fa-user-circle-o fa-5x"></i></div>
        <div class="middleX"><i class="fa fa fa-ellipsis-v fa-5x"></i></div>
        <div class="middleX"><i class="fa fa-hourglass-half fa-5x"></i></div>
      </div>
    </div>
    <div fxFlex="40%"  mat-button fxHide="false" fxHide.gt-sm>
      <div class="centerX">
        <div class="middleX"><i class="fa fa-home fa-3x"></i></div>
        <div class="middleX"><i class="fa fa fa-ellipsis-v fa-3x"></i></div>
        <div class="middleX"><i class="fa fa-user-circle-o fa-3x"></i></div>
        <div class="middleX"><i class="fa fa fa-ellipsis-v fa-3x"></i></div>
        <div class="middleX"><i class="fa fa-hourglass-half fa-3x"></i></div>
      </div>
    </div> 
    <div fxFlex>
      <div class="description">
        <h2>Step 1</h2> 
        <h1>Write check list</h1>
        <p>Write check lists about things you want to know about house
          for example, the location, neighbor, etc.</p>
      </div>
      <div class="description">
        <h2>Step 2</h2> 
        <h1>Select a host</h1>
        <p>You can choose the host. All of them are trustful locals who are 
            well known the city you want to live. You can see reviews and top 
            ranking hosts before choosing</p>
      </div>
      <div class="description">
        <h2>Step 3</h2> 
        <h1>Wait for the response</h1>
        <p>As soon as you're done with every steps, host will contact you. 
          It won't take time more than 3 days.</p>
      </div>
    </div>
  </div>
  <!-- End Of Code -->

  <!-- Code Of Logo in Middle -->
  <div fxLayout >
    <div fxFlex class="middle"><div class="shadow"><div class="textPhoto">As locals, we try our best to give you best information.</div></div></div>
  </div>
  <!-- End Of Code -->

  <!-- Code Of Process Box -->
  <div fxLayout="column" class="boxes margin">
    <div fxFlex>
      <h1>House check process</h1>
      <p>Host will provide you with 2 reports, one skype meeting.</p>
    </div>
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-around center" >
      <div fxFlex=7%></div>        
      <div fxFlex="27%" class="box">
        <div class="circle"><i style="position:relative; top: 30px" class="fa fa-file-text fa-5x"></i></div>
        <div class="tBox">
          <h3>Brief Report</h3>
          <h5>First brief report after host visited houses.</h5> 
        </div>      
      </div>
      <div fxFlex=2%></div>
      <div fxFlex="27%" class="boxX">
        <div class="circle"><i style="position:relative; top: 30px" class="fa fa-television fa-5x"></i></div>
        <div class="tBox">
          <h3>Skype Meeting</h3>
          <h5>Set the date for Skype-call with host.</h5>
        </div>
      </div>
      <div fxFlex=2%></div>      
      <div fxFlex="27%" class="box">
        <div class="circle"><i style="position:relative; top: 30px" class="fa fa-file-text fa-5x"></i></div>          
        <div class="tBox">
          <h3>Final Report</h3>
          <h5>Our hosts will provide you more infos.</h5>
        </div>  
      </div>
      <div fxFlex=7%></div>      
    </div>
  </div>
  <!-- End of Code-->

  <!-- Code Of Rami Review -->
  <div fxLayout fxLayout.xs="column" fxLayout.sm="column"  class="margin">
    <div fxFlex="40%" fxShow="false" fxShow.gt-sm style="text-align:right">
      <div class="lineR"></div>
      <img height="70%" src="/assets/images/rami.jpg" alt="Rami">
      <div class="shadowP"> </div>
    </div>
    <div fxFlex="40%" fxHide="false" fxHide.gt-sm style="text-align:center">
        <div class="lineR"></div>
        <img  width="80%" src="/assets/images/rami.jpg" alt="Rami">
      </div>
    <div fxFlex fxShow="false" fxShow.gt-sm>
      <h1>
          <i class="fa fa-quote-left"></i><br>
          &nbsp;&nbsp;&nbsp;&nbsp;Finding housing<br>
          &nbsp;&nbsp;&nbsp;&nbsp;is most dificult<br>
          &nbsp;&nbsp;&nbsp;&nbsp;thing if you are<br>
          &nbsp;&nbsp;&nbsp;&nbsp; new arrival.&nbsp;&nbsp;
          <i class="fa fa-quote-right"></i>
      </h1>
      <p class="textD">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
      </p>
      <h2 style="padding:10px 0px 0px 22%">Rami Alfasfos, Founder</h2>
    </div>
    <div fxFlex fxHide="false" fxHide.gt-sm>
      <h1 style="margin:0 auto;width:75%">
        <i class="fa fa-quote-left"></i><br>
          Finding housing
          is most dificult
          thing if you are
          new arrival.&nbsp;&nbsp;
        <i class="fa fa-quote-right"></i>
      </h1>
      <div class
      ="textM">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.  
        </p>
        <h2>Rami Alfasfos, Founder</h2>
      </div>   
    </div>
  </div>
  <!-- End Of Code -->

  <!-- Code Of GesStart -->
  <div fxLayout >
    <div fxFlex class="meeting"><div class="shadow"><button class="buttonG" mat-button>Get started now!</button></div></div>
  </div>
  <!-- End Of Code -->

  <div fxLayout class="marginB">
    <img width='100' class="center" src="/assets/images/logo.svg" alt="">
    <div fxFlex="65%"> <h3 style="color:#7BCABB">This service is made by Globuzzer </h3></div>
  </div>
</div>
