.bar{
    text-align: right;
    height: 36px;
    width: auto;
}

.buttonX{
    color: #7BCABB;
    margin: 0px 0px;
    font-size: 2rem
}

.signup{
    padding: 10px;
    color: #7BCABB
}

.titleS{
    color: #fff;
    font-size: 2rem;
    letter-spacing: 3px;
}

.signupB{
    color: white;
    background: #7BCABB;
    font-size: 1.7rem;
    padding: 10px;
    width: 215px;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    border: 2px solid white
}

.signupF{
    color: #45609b;
    font-size: 1.6rem;
    width: 215px;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    border: 2px solid #45609b;
}

.signupG{
    color: #df2e2f;
    font-size: 1.6rem;
    width: 215px;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid #df2e2f;
}

.half-width{
    width: 45%
}

.half-widthX{
    width: 45%;
    margin: 0px 0px 0px 5%
}

.full-width{
   width: 90%
}

/* place holder */


:host .signup /deep/ .mat-input-placeholder {
    color: #7BCABB;
    font-size: 1.2rem;
}

/*Under Line active

/deep/ .mat-input-ripple{

} 

*/

/*Under Line normal*/

:host .signup /deep/ .mat-input-underline{
    background: #7BCABB
}


/* Backgroun & color of autofill */


:host .signup input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #7BCABB !important;
}

/* full in dialog */
/deep/ .mat-dialog-container{
    padding: 0px 0px
}
