<div fxLayout="row" fxLayoutAlign="none">
    
    <div fxFlex  class="signup">
      <div class="bar">
        <button class="buttonX" mat-button mat-dialog-close>&times;</button>
      </div>
      <h1 class="titleSU">Not a<br> member?</h1>
      <form class="formS">
        <p>
          <mat-form-field class="half-width">
            <input type="email" matInput placeholder="E-mail">
          </mat-form-field>
          <mat-form-field class="half-widthX">
            <input type="text" matInput placeholder="First Name">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width">
            <input type="password" matInput placeholder="Password" class='myclas'>
          </mat-form-field>
          <mat-form-field class="half-widthX">
            <input type="text" matInput placeholder="Sure Name">
          </mat-form-field>
        </p>
        <p style="text-align:right">
          <button class="signupB" mat-button>Sign up</button><br>
          <button class="signupF" mat-button>Login in with &nbsp;<i class="fa fa-facebook-square" aria-hidden="true"></i></button><br>
          <button class="signupG" mat-button>Login in with &nbsp;<i class="fa fa-google-plus-square" aria-hidden="true"></i></button>
        </p>
        
      </form>
    </div>
  </div>
