<div class="content">
  <div fxLayout="column">
    <div fxFlex>
      <h1 class="title">Contact us</h1>
    </div>     
    <form fxFlex novalidate (ngSubmit)="onSubmit()" #contactForm="ngForm">
      <p>
        <mat-form-field class="half-width" dividerColor="{{FirstName.invalid && !FirstName.pristine? 'warn' : 'primary'}}">
          <input type="text" matInput placeholder="First Name" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FisrtName" required>
          <mat-hint>
            <span [hidden]="FirstName.pristine">
              <span [hidden]="!FirstName.errors?.required"> First Name is required</span>
            </span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="half-width" dividerColor="{{LastName.invalid && !LastName.pristine? 'warn' : 'primary'}}">
          <input type="text" matInput placeholder="Last Name" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" required>
          <mat-hint>
            <span [hidden]="LastName.pristine">
            <span [hidden]="!LastName.errors?.required">Last Name is required</span>
            </span>
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width" dividerColor="{{Email.invalid && !Email.pristine? 'warn' : 'primary'}}">
          <input type="email" matInput placeholder="Your Email" name="Email"  #Email="ngModel" [(ngModel)]="user.Email" required>
          <mat-hint>
            <span [hidden]="Email.pristine">
            <span [hidden]="!Email.errors?.required">Email is required</span>
            </span>
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width" dividerColor="{{message.invalid && !message.pristine? 'warn' : 'primary'}}">
          <textarea  matInput placeholder="Type Your Message Here" name="message" #message="ngModel" [(ngModel)]="user.message" rows=6 required></textarea>
          <mat-hint>
            <span [hidden]="message.pristine">
            <span [hidden]="!message.errors?.required">Message is required</span>
            </span>
          </mat-hint>
        </mat-form-field>
      </p>
      <button type="submit" class="send" [disabled]="contactForm.form.invalid" mat-button>Send</button>
      </form>
    <div fxFill >
      <div class="map">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2033.9904944044308!2d18.068475916073133!3d59.34980648166603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f779d96ed48cb%3A0xb1366ae00b879b4a!2sKungliga+Tekniska+H%C3%B6gskolan!5e0!3m2!1sen!2sfi!4v1502953690576" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div fxLayout class="marginB">
    <img width='100' class="center" src="/assets/images/logo.svg" alt="">
    <div fxFlex="65%"> <h3 style="color:#7BCABB">This service is made by Globuzzer </h3></div>
  </div>
</div>